@page "/contract"
@inherits Pages.IndexBase

<h1>INDEX PAGE</h1>

<div class="main column">
    <div class="row">
        <div class="btn btn-create" @onclick="OnCreateBtnClick">Create voting</div>

        <div class="btn btn-get-all" @onclick="OnGetVotingsBtnClick">Get all votings</div>
    </div>

    @if (VotingsCount > 0)
    {
        <ul class="voting-list">

            @for (int i = 0; i < VotingsCount; i++)
            {
                <a href="@($"/voting?id={i}&contract={ContractAddress}")"><li>@i</li></a>
            }

        </ul>
    }


</div>