@page "/contract"
@inherits Pages.IndexBase

<h1>INDEX PAGE</h1>

<div class="main column">
    <div class="row">
        <div class="btn btn-create">Create voting</div>

        <div class="btn btn-get-all">Get all votings</div>
    </div>

    <button @onclick="GetVotings"></button>



    <span>@VotingsCount</span>

    <div class="voting-list">
        @if (Votings != null)
        {
            @for(int i = 0; i< VotingsCount;i++)
            {
                <a href="@($"/voting?id={i}")"><div>i</div></a>
            }

        }
    </div>
</div>