@page "/voting"
@inherits Bases.VotingBase

<h1>Voting</h1>

@if (Proposals != null)
{
    @foreach (var prop in Proposals)
    {
        <div class="row">
            <span>@prop</span>
            <button @onclick="@(()=>OnVoteClick(prop))">Vote</button>
        </div>

    }
}
