@inherits LayoutComponentBase

@inject IJSRuntime jsRuntime;
@inject IEthereumHostProvider _ethereumHostProvider;
@using Nethereum.Hex.HexTypes;

@if (EthereumAvailable == true)
{

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <Metamask />
        </div>
        <div style="display:flex;flex-direction:column;" class="content px-4 justify-content-center align-items-center">
            @Body
        </div>
    </div>
</div>      
}
else
{
    <h1>Have no connection to Metamask</h1>
}




@code {
    bool EthereumAvailable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EthereumAvailable = await _ethereumHostProvider.CheckProviderAvailabilityAsync();
    }
} 